:root {
  --light-red: hsl(15, 100%, 70%);
  --soft-blue: hsl(195, 74%, 62%);
  --light-red-study: hsl(348, 100%, 68%);
  --lime-green: hsl(145, 58%, 55%);
  --violet: hsl(264, 64%, 52%);
  --soft-orage: hsl(43, 84%, 65%);
  --dark-blur: hsl(226, 43%, 10%);
  --light-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
  --blue: hsl(246, 80%, 60%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  
}

body {
  background-color: var(--dark-blur);
}
/* main container which innhold all the div  */
.container {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}


/* a container for user profile which contaien user-pic and task-duration  */
.user {
  display: flex;
  flex-direction: column;
  height:500px;
  width: 288px;
  background-color: var(--light-blue);
  border-radius: 20px;
  /* margin-top: 15px; */
  flex-wrap: wrap;
}

/* user profile photo and name  */
.user-pic {
  background-color: var(--blue);
  height: 340px;
  width:288px;
  border-radius: 20px;
  padding: 30px;
}
/* profile pic of Jeremy robson  */
.profile-img {
  height: 80px;
  width: 80px;
  border: 3px solid white;
  border-radius: 50px;
  margin-top: 10px;
}

/* profile-info */
.profile-info {
  padding-top: 40px;
}

/* job title  */
.job-title {
  color: rgb(154, 153, 153);
  font-weight: 300;
  font-size: 0.8rem;
}

.name {
  color: whitesmoke;
  font-weight: 400;
  font-size: 2rem;
}

/* day, month and year buttons container  */
.task-duration {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin:10px ;
}

/* routine duration  */
.task-buttons {
  background: none;
  border: none;
  padding: 20px 0 0 23px;
  color: white;
  opacity: 0.3;
}

/* user profile div which contain fiffrent time frame  */
#user-Profile {
  width: 952px;
  height: 510px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 11px;
}

/* all box with icons background */
.box {
  min-width: 280px;
  height: 245px;
  justify-self: center;
  align-self: center;
  border-radius: 14px;
  cursor: pointer;
  
}



/* section with timing details  */
.timer {
  margin-top: 52px;
  height: 193px;
  background-color: var(--light-blue);
  border-radius: 10px;
  margin-bottom: 20px;
  
}

/* Work section background color and icon styling */
#work {
  background-color: var(--light-red);
  background-image: url(images/icon-work.svg); /*background image of work*/
  background-repeat: no-repeat;
  background-position: right 2px top 5px;
  background-size: 75px;
}

/* Play section background color and icon styling */
#play {
  background-color: var(--soft-blue);
  background-image: url(images/icon-play.svg); /*background image of play*/
  background-repeat: no-repeat;
  background-position: right 2px top 5px;
  background-size: 75px;
}

/* Study section background color and icon styling */
#study {
  background-color: var(--light-red-study);
  background-image: url(images/icon-study.svg); /*background image of Study*/
  background-repeat: no-repeat;
  background-position: right 2px top 5px;
  background-size: 75px;
}

/* Exercise section background color and icon styling */
#exercise {
  background-color: var(--lime-green);
  background-image: url(images/icon-exercise.svg); /*background image of exercise*/
  background-repeat: no-repeat;
  background-position: right 2px top 10px;
  background-size: 75px;
}

/* Social section background color and icon styling */
#social {
  background-color: var(--violet);
  background-image: url(images/icon-social.svg); /*social image of work*/
  background-repeat: no-repeat;
  background-position: right 2px top 10px;
  background-size: 75px;
}

/* self-care section background color and icon styling */
#self-care {
  background-color: var(--soft-orage);
  background-image: url(images/icon-self-care.svg); /*background image of self-care*/
  background-repeat: no-repeat;
  background-position: right 2px top 5px;
  background-size: 75px;
}

/* titel of box*/
.title {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 1.8rem;
  align-items: center;
}

.title p {
  font-size: 1.8rem;
}

/* current number represent current time  */
.current-number {
  color: whitesmoke;
  font-weight: 300;
  font-size: 2.5rem;
  margin: 13px 0 0 18px;
}

/* Previous number represent previous time  */
.previous-number {
  color: var(--pale-blue);
  opacity: 0.5;
  margin: 13px 0 0 18px;
  font-size: 1.2rem;
  padding-top: 5px;
}

/* Media Query */
@media screen and (max-width: 345px) {
  .container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.profile-img{
  margin-right: 8px;
  height: 60px;
  width: 60px;
}

.user{
  margin-top: 80px;
  height: 200px ;
}
.user-pic {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 150px;
 
}

.profile-info {
  display: flex;
  flex-direction: column;
  padding: 8px 2px;
  
  
}
.job-title{
  font-size: 0.9rem;
}

.name {
  font-size: 1.2rem;
}

.task-duration{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; 
  gap: 42px;
}

.task-buttons{
  padding: 10px 0 0 10px;
  font-size: 0.9rem;
}

  #user-Profile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 30px;
  width: 100%;
    height: 100%;
  }

  .box {
   height: 110px;
   margin-bottom: 60px;
  }

  .timer {
    height: 130px;
    margin-bottom: 50px;
  }

  .title {
    padding-top: 14px;
    font-size: 1.7rem;
  }

  .current-number {
    font-size: 1.9rem;
  margin: 0 0 0 15px;
  padding: 0;
  display: inline;
  }

  .previous-number {
    font-size: 1.3rem;
    margin: 0 0 0 55px;
    padding: 0;
    display: inline;
  }

}